@using Pet_Web_Application_10._12._24_F.Controllers
@using Pet_Web_Application_10._12._24_F.Models.Cart
@model   CartViewModel

@{
    ViewData["Title"] = "Cart";
}

<h1>@ViewData["Title"]</h1>


<h2>Checkout (@Model.ShoppingCart.Items.Count item)</h2>

<p>Website is secured with SSL</p>







<p>Total: $@Model.ShoppingCart.TotalPrice</p>
<button>Place your order</button>